@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;700&family=Montserrat:wght@300;500;600;700&display=swap");
body {
  background: #181719;
  color: #ffffff;
}

.navbar-brand {
  font-family: 'Crimson Pro';
  font-weight: 200;
  font-size: 14px;
  padding: .3rem;
  border: 1px solid #dddddd;
  color: #dddddd;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navbar-brand:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
}

nav a:first-child {
  font-weight: 700;
}

nav a {
  font-family: 'Montserrat';
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: .6s;
  transition: .6s;
}

nav a:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}

.menu {
  font-size: 28px;
  display: none;
}

h1 {
  font-family: 'Lora';
  font-weight: 400;
  font-size: 48px;
}

.principal-text {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 24px;
  color: #dddddd;
}

span {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  -webkit-transform: all .3s;
          transform: all .3s;
  cursor: pointer;
}

span:hover {
  text-decoration: underline;
}

.aliza-card {
  width: 340px;
  position: relative;
  right: 6%;
  bottom: -15%;
  color: #ffffff;
  background: #181719;
}

.aliza-icon {
  width: 50px;
  height: 50px;
}

.interior-designer {
  margin-top: -.3rem;
}

.px-3 h3 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
}

.px-3 p {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  color: #828282;
}

article p {
  font-family: 'Lora';
  font-weight: 700;
  font-size: 24px;
  color: #dddddd;
}

@media (max-width: 768px) {
  .justify-content-end {
    display: none;
  }
  h1 {
    margin-top: -1.5rem;
    font-size: 36px;
  }
  .principal-text {
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 2px;
  }
  span {
    font-size: 14px;
  }
  .px-3 h3 {
    font-size: 12px;
  }
  .px-3 p {
    font-size: 10px;
  }
  article p {
    font-size: 18px;
  }
  .menu {
    display: block;
    z-index: 100;
    cursor: pointer;
  }
  .show {
    background-color: #181719;
    display: block;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 50%;
    bottom: 0;
  }
  .content {
    display: none;
  }
  .aliza-card {
    opacity: 95%;
    right: 0;
    bottom: -5%;
    height: 100px;
    width: 270px;
  }
  .nav {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 80;
  }
  .nav .nav-link {
    margin-left: 3%;
    font-size: 21px;
    z-index: 80;
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 25%;
    width: 0%;
    height: 3px;
    background-color: #ffffff;
    -webkit-transition: .6s;
    transition: .6s;
  }
  .nav .nav-link:hover::after {
    width: 40%;
    right: auto;
    left: 30%;
  }
}
/*# sourceMappingURL=styles.css.map */